body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}
.info-cabeza {
  width: auto;
  height: auto;
  background: #0000006e;
  color: #fff;
}
.info-cabeza h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: left;
}
/*MENU*/
#menu{
  float: left;
  width: 90%;
  background:#000000b5;
  color: #fff;
  border-radius: 50px;
  margin-top: 1%;
  margin-left: 1%;
  padding: 20px;
  overflow: hidden;
}

#menu ul{
  list-style: none;
}

#menu ul li{
  float: left;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1%;
  margin-left: 1%;
  line-height: 20px;
  color: #adff2f;
}

#menu ul li a{
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  color: white;
}

.alerta-fallo{
  background: red;
}

.alerta-exito{
  background: green;
}

.principal {
  float: left;
  width: 90%;
  min-height: auto;
  background:#000000b5;
  color: #fff;
  border-radius: 50px;
  margin-top: 1%;
  margin-left: 1%;
  padding: 20px;
  overflow: hidden;
  
}
.principal h1 {
  color:#6adaff;
}
.principal a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: greenyellow;
}
.formulario {
  width: auto;
  height: auto;
  background: #000000b5;
  border-radius: 50px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -35%);
  box-sizing: border-box;
  padding: 30px 30px;
}

.formulario h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 32px;
}

.formulario label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.formulario input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.formulario textarea {
  width: 1090px;
  height: 152px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 16px;
}
.formulario select {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.formulario option {
  background: black;
  color: #fff;
  font-size: 16px;
}
.formulario input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22b5;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.formulario input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107b5;
  color: #000;
}

.formulario a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: darkgrey;
}

.formulario a:hover {
  color: #fff;
}

#ver-todas a{
  float: right;
  font-style: oblique;
}

.entradas {
  float: left;
  width: 60%;
  min-height: auto;
  background:#000000b5;
  color: #fff;
  border-radius: 50px;
  margin-top: 1%;
  margin-left: 1%;
  padding: 20px;
  overflow: hidden;
}

.entradas h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 32px;
}

.entradas label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.entradas input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.entradas textarea {
  width: 1090px;
  height: 152px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  color: #fff;
  font-size: 16px;
}
.entradas select {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.entradas option {
  background: black;
  color: #fff;
  font-size: 16px;
}
.entradas input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22b5;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.entradas input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107b5;
  color: #000;
}

.entradas a {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  color: darkgrey;
}

.entradas a:hover {
  color: #fff;
}