body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.info-head {
  width: auto;
  height: auto;
  background: #0000006e;
  color: #fff;

}

.info-head h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: left;
}
.formulario {
  width: 320px;
  height: 420px;
  background: #000000b5;
  border-radius: 50px;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 30px 30px;
}


.formulario h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.formulario label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.formulario input {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.formulario select {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.formulario option {
  background: black;
  color: #fff;
  font-size: 16px;
}
.formulario input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22b5;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.formulario input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.formulario a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.formulario a:hover {
  color: #fff;
}

#pie{
  width: auto;
  height: auto;
  background: #0000006e;
  color: #fff;
  text-align: center;
  font-size: 18px;
  position: top;

}